In [1]:
#List Exercise

In [3]:
#Q1. Create a list of 5 random numbers and print the list.

In [18]:
list = ['Lesin','Rino','Ubaid','Shammas','Ashnad']
list

['Lesin', 'Rino', 'Ubaid', 'Shammas', 'Ashnad']

In [20]:
type(list)

list

In [42]:
#Q2. Insert 3 new values to the list and print the updated list.

In [18]:
list = ['Lesin','Rino','Ubaid','Shammas','Ashnad']
list.extend(['Joel','Aadithya','Umer'])
list

['Lesin', 'Rino', 'Ubaid', 'Shammas', 'Ashnad', 'Joel', 'Aadithya', 'Umer']

In [ ]:
#Q3. Try to use a for loop to print each element in the list.

In [24]:
for i in list:
  print('The name of the student is:',i)

The name of the student is: Lesin
The name of the student is: Rino
The name of the student is: Ubaid
The name of the student is: Shammas
The name of the student is: Ashnad
The name of the student is: Joel
The name of the student is: Aadithya
The name of the student is: Umer

In [30]:
#Dictionary Exercise

In [ ]:
#Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [1]:
Info = {'Name':'John','Age':25,'Address':'New York'}
Info

{'Name': 'John', 'Age': 25, 'Address': 'New York'}

In [5]:
print('The Dictionary of John is', Info)

The Dictionary of John is {'Name': 'John', 'Age': 25, 'Address': 'New York'}

In [9]:
Info.keys()

dict_keys(['Name', 'Age', 'Address'])

In [11]:
Info.values()

dict_values(['John', 25, 'New York'])

In [15]:
#Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [19]:
Info.update({'Phone':1234567890})
Info

{'Name': 'John', 'Age': 25, 'Address': 'New York', 'Phone': 1234567890}

In [21]:
#Set Exercise

In [23]:
#Q1.Create a set with values 1, 2, 3, 4, and 5.

In [37]:
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [39]:
type(set)

set

In [41]:
#Q2. Add the value 6 to the set created in Q1.

In [45]:
set.add(6)
set

{1, 2, 3, 4, 5, 6}

In [47]:
#Q3. Remove the value 3 from the set created in Q1.

In [51]:
set.remove(6)
set

{1, 2, 3, 4, 5}

In [53]:
#Tuple Exercise

In [55]:
#Q1. Create a tuple with values 1, 2, 3, and 4

In [57]:
tuple = (1,2,3,4)
tuple

(1, 2, 3, 4)

In [59]:
type(tuple)

tuple

In [61]:
#Q2. Print the length of the tuple created in Q1.

In [63]:
len(tuple)

4